
.footer{
    background: #ee2d1e;
    padding:30px 0;

    .footercontent{
        
        .footerdata{
            justify-content: center;
            .footerlogo{
                padding:0;
                display: flex;
                

                .footerlogoimg{
                    width:100%;
                    height:auto;
                    object-fit: contain;
                }
            }

            .footerlinkbar{
                display: flex;
                padding:0;

                .footerlinkcontent{
                    width:100%;
                    margin:5px 0;
                    .footerlinkleft{
                        padding:0;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        a{
                            text-shadow:none;
                            font-size:0.8em;
                            color:white;
                            text-decoration: none;
                        }
                    }
                    .footerlinkright{
                        padding:0;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        a{
                            text-shadow:none;
                            font-size:0.8em;
                            color:white;
                            text-decoration: none;
                        }
                    }
                }
            }

            .footericon{
                display: flex;
                justify-content: space-around;
                padding:0;

                .fa-2x{
                    color:#fff;
                }
            }
        }
    }
}